<a href="https://colab.research.google.com/github/abstrusoo/Fonte_dados/blob/main/Exporta%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd

In [61]:
data = {'tati': [1, 2, 3], 'coluna_2': [4, 5, 6], 'coluna_3' : [7,8,9]}
df = pd.DataFrame(data)

In [62]:
print(df)

   tati  coluna_2  coluna_3
0     1         4         7
1     2         5         8
2     3         6         9

In [63]:
from google.colab import drive

In [64]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
origem = '/content/drive/My Drive/Data/'

In [66]:
arquivo_5 = origem + 'EXP_2025_MUN.csv'
arquivo_4 = origem + 'EXP_2024_MUN.csv'
arquivo_3 = origem + 'EXP_2023_MUN.csv'
arquivo_2 = origem + 'EXP_2022_MUN.csv'
arquivo_1 = origem + 'EXP_2021_MUN.csv'
UF_MUN = origem + 'UF_MUN.csv'
PAIS = origem + 'PAIS.csv'

In [67]:
Exp25mun = pd.read_csv(arquivo_1,low_memory=False,sep=';',encoding='UTF-8')
Exp24mun = pd.read_csv(arquivo_2,low_memory=False,sep=';',encoding='UTF-8')
Exp23mun = pd.read_csv(arquivo_3,low_memory=False,sep=';',encoding='UTF-8')
Exp22mun = pd.read_csv(arquivo_4,low_memory=False,sep=';',encoding='UTF-8')
Exp21mun = pd.read_csv(arquivo_5,low_memory=False,sep=';',encoding='UTF-8')
ExpPais = pd.read_csv(PAIS,low_memory=False,sep=';',encoding='latin1')
ExpUfmun = pd.read_csv(UF_MUN,low_memory=False,sep=';',encoding='latin1')

In [68]:
exp_final = pd.concat([Exp24mun,Exp25mun,Exp23mun,Exp22mun,Exp21mun], ignore_index=True)

In [69]:
exp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5212999 entries, 0 to 5212998
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   SH4         int64
 3   CO_PAIS     int64
 4   SG_UF_MUN   object
 5   CO_MUN      int64
 6   KG_LIQUIDO  int64
 7   VL_FOB      int64
dtypes: int64(7), object(1)
memory usage: 318.2+ MB

In [70]:
exp_final = exp_final.merge(ExpPais[['CO_PAIS' , 'NO_PAIS']],on='CO_PAIS',how='left')

In [71]:
exp_final.head(1000)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_PAIS
0,2022,4,9403,845,PR,4101002,53482,47615,Uruguai
1,2022,10,8501,386,SC,4208906,220899,1348091,Itália
2,2022,9,1902,580,ES,3205309,564,2264,Panamá
3,2022,1,6206,63,SC,4216602,85,6642,Argentina
4,2022,2,8501,249,SC,4208906,2942192,12155328,Estados Unidos
...,...,...,...,...,...,...,...,...,...
995,2022,11,510,351,SP,3405500,8,576320,Hong Kong
996,2022,2,8414,317,SC,4209102,94092,400331,Guatemala
997,2022,8,807,741,PR,4118204,237,233,Singapura
998,2022,6,8421,169,SC,4209102,651,6216,Colômbia
999,2022,4,7318,154,RJ,3303906,0,3097,Catar

In [72]:
exp_final = exp_final.merge(ExpUfmun[['CO_MUN_GEO' , 'NO_MUN']],left_on='CO_MUN', right_on='CO_MUN_GEO',how='left')

In [73]:
exp_final.head(1000)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_PAIS,CO_MUN_GEO,NO_MUN
0,2022,4,9403,845,PR,4101002,53482,47615,Uruguai,4101002,AMPERE
1,2022,10,8501,386,SC,4208906,220899,1348091,Itália,4208906,JARAGUA DO SUL
2,2022,9,1902,580,ES,3205309,564,2264,Panamá,3205309,VITORIA
3,2022,1,6206,63,SC,4216602,85,6642,Argentina,4216602,SAO JOSE
4,2022,2,8501,249,SC,4208906,2942192,12155328,Estados Unidos,4208906,JARAGUA DO SUL
...,...,...,...,...,...,...,...,...,...,...,...
995,2022,11,510,351,SP,3405500,8,576320,Hong Kong,3405500,BARRETOS
996,2022,2,8414,317,SC,4209102,94092,400331,Guatemala,4209102,JOINVILLE
997,2022,8,807,741,PR,4118204,237,233,Singapura,4118204,PARANAGUA
998,2022,6,8421,169,SC,4209102,651,6216,Colômbia,4209102,JOINVILLE
999,2022,4,7318,154,RJ,3303906,0,3097,Catar,3303906,PETROPOLIS

In [74]:
exp_final = exp_final[exp_final['SG_UF_MUN'].str.startswith('SP')]

In [75]:
exp_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2208241 entries, 7 to 5212996
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   SH4         int64
 3   CO_PAIS     int64
 4   SG_UF_MUN   object
 5   CO_MUN      int64
 6   KG_LIQUIDO  int64
 7   VL_FOB      int64
 8   NO_PAIS     object
 9   CO_MUN_GEO  int64
 10  NO_MUN      object
dtypes: int64(8), object(3)
memory usage: 202.2+ MB

In [76]:
exp_final = exp_final[exp_final['NO_MUN'].isin(['SAO JOSE DOS CAMPOS' , 'JACAREI' , 'TAUBATE' , 'CACAPAVA'])]

In [77]:
exp_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80200 entries, 333 to 5212866
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_ANO      80200 non-null  int64
 1   CO_MES      80200 non-null  int64
 2   SH4         80200 non-null  int64
 3   CO_PAIS     80200 non-null  int64
 4   SG_UF_MUN   80200 non-null  object
 5   CO_MUN      80200 non-null  int64
 6   KG_LIQUIDO  80200 non-null  int64
 7   VL_FOB      80200 non-null  int64
 8   NO_PAIS     80200 non-null  object
 9   CO_MUN_GEO  80200 non-null  int64
 10  NO_MUN      80200 non-null  object
dtypes: int64(8), object(3)
memory usage: 7.3+ MB

In [78]:
exp_final.to_csv(origem + 'Exportação_Dados.csv', index=False)